/* Pixel-Schriftart */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    overflow: hidden;
    margin: 0;   /*Weiße Ränder entfernen*/
    image-rendering: pixelated;
}